:root {
    --body-background-color: #23272a;
    --main-text-color: #eee;
    --button-background-color: #5865f2;
    --button-hover-background-color: #4855e2;
}

body {
    background-color: var(--body-background-color);
}

* {
    font-size: 140%;
    color: var(--main-text-color);
    font-family: monospace;
    transition: all 0.1s;
}

input[type=text] {
    position: relative;
    bottom: 4px;
    font-size: 90%;
    background-color: #43474a;
    border-style: solid;
    border-color: #19bf87;
    width: 40rem;
}



/*
 * THIS IS SUPPOSED TO BE APPLIED ONLY TO THE MODE RADIO BUTTONS
 *
*/
input[type=radio] {
    position: relative;
    top: -1rem;
}

button {
    font-size: 60%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--button-background-color);
    color: var(--main-text-color);
    border-radius: 10px;
    border-style: solid;
    border-color: #111;
}

button:hover {
    background-color: var(--button-hover-background-color)
}

div {
    min-height: 0;
}

.radiodiv {
    display: inline;
}

.radiolabel {
    font-size: 50%;
    position: relative;
    left: -1.2rem;
}

#sendbtncontainer {
    margin-top: 20px;
    margin-bottom: 20px;
}
